body {
  background-color: $body-background;
  margin: 0;
  padding: 0;
  font-family: 'muli';
}

.form-control {
  border: 1px solid yellowgreen;
  background-color: #eee;
  padding: 12px 15px;
  margin-top: 30px;
  border-radius: 5px;

  &:focus {
    outline-width: 1px;
    outline-color: blue;
  }
}

button {
  border: 0;
  background: #c786ef;
  padding: 12px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

  &.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: $white;
    background: $bg1;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;

    &::before {
      content: '';
      background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
      position: absolute;
      top: -2px;
      left:-2px;
      background-size: 400%;
      z-index: -1;
      filter: blur(5px);
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      animation: glowing 20s linear infinite;
      opacity: 0;
      transition: opacity .3s ease-in-out;
      border-radius: 10px;
    }

    &:active {
      color: $black;

      &:after {
        background: transparent;
      }
    }

    &:hover:before {
      opacity: 1;
    }

    &:after {
      z-index: -1;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: $bg1;
      left: 0;
      top: 0;
      border-radius: 10px;
    }
  }
}

.select {
  border: 0;
  padding: 10px 5px;
  background-color: blanchedalmond;
  width: 100%;
  max-width: 300px;
  font-size: 18px;
  margin: 15px auto 0 auto;
  display: flex;
  border-radius: 5px;
  outline: 0;
}

.input-text {
  margin: 30px 0;

  &:focus {
    border: 2px solid red;
    outline: 0;
  }
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}




.products-wrapper {
  width: 100%;
  height: 100%;
  display: inline-block;
  background: rgba(0,0,0, 0.7);
  text-align: center;

  img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 30px auto 0px auto;
  }
}
